<!DOCTYPE html>
<html>
  <head>
    <title>Explore Art</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/aframe.min.js"></script>
  </head>
  <body>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/D02YCemRkOI?autoplay=1&amp;mute=0&amp;rel=0&amp;showinfo=0&amp;start=120" allow="autoplay" frameborder="0"></iframe>
    <a-scene>
    <a-sky src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Hendrick_Avercamp_-_Winterlandschap_met_schaatsers_bij_de_stad_Kampen.jpg" rotation="0 -130 0"></a-sky>
    <!-- <a-curvedimage src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Hendrick_Avercamp_-_Winterlandschap_met_schaatsers_bij_de_stad_Kampen.jpg" height="3.0" radius="5.7" theta-length="72"
      rotation="0 100 0" scale="0.8 0.8 0.8"></a-curvedimage> -->

    <a-camera>
      <a-cursor></a-cursor>
    </a-camera>
    <a-text font="kelsonsans" value="ZISH CMD" width="6" position="-2.5 0.25 -1.5"
          rotation="0 15 0"></a-text>
    </a-scene>

    <script src="/js/app.min.js"></script>
  </body>
</html>
