<!DOCTYPE html>
<html>
  <head>
    <title>Explore Art</title>
    <script src="/js/aframe.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@3.0.3/dist/aframe-event-set-component.min.js"></script>
    <script src="https://3d.io/releases/3dio-js/1.x.x-beta/3dio.min.js"></script>
    <script src="/js/app.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <a-scene>

      <a-camera position="0 0 0 0">
        <a-cursor
          animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 300"
          geometry="primitive: ring; radiusInner: 0.015; radiusOuter: 0.025"
          event-set__1="_event: mouseenter; color: springgreen"
          event-set__2="_event: mouseleave; color: black"
          raycaster="objects: a-box"
          fuse="true"
          ></a-cursor>
      </a-camera>
      <a-box id="chair1Pointer" position="0 0 -4" rotation="0 180 0" color="orange" material="opacity: 0"
      move-persona="on: click; target: a-camera; position: 0 0.9 -4; triggeredEvent: chairEvent; rotation: 0 190 0;"
      ></a-box>
      <a-entity id="chair1" io3d-furniture="id:feae7b9c-4385-4742-8f92-e08f3201a20f" position="0 0 -4" rotation="0 0 0"></a-entity>
      <!-- plant -->
      <a-entity id="plant" io3d-furniture="id:8c4c4d48-dc51-4371-876a-09d51f10b66b" position="-3.5 0 -4"></a-entity>

      <a-text id="mainText" font="kelsonsans" color="green" value="Welkom bij het Viertaal College schilderij ervaring. Kijk naar de stoel om te beginnen." width="6" position="-4 3 -4" rotation="0 15 0"></a-text>

      <!-- CHOOSE BLOCKS -->
      <a-box class="roomOnly chooseBlock" position="1 2 0.6" rotation="0 180 0" color="green" material="opacity: 1"
      redirect="on: click; triggeredEvent: paintingChosenEvent;"
      ></a-box>
      <a-image class="roomOnly chooseBlock" rotation="0 0 0" position="1 2 0" src="/images/winterlandschap.jpg"></a-image>

      <!-- FIND IMAGE EXPLAINED -->
      <a-text class="roomOnly gameExplain"  opacity="0" width="6" position="4 3 0" rotation="0 180 0" font="kelsonsans" color="green" value="Zoek het paard en wagen in het schilderij!"></a-text>
      <a-image class="roomOnly gameExplain" opacity="0" rotation="0 0 0" position="1 2 0" src="/images/game.jpg"></a-image>
      <a-text class="roomOnly gameExplain"  opacity="0" width="6" position="3.5 0.5 0" rotation="0 180 0" font="kelsonsans" color="green" value="Kijk naar het oog om te beginnen"></a-text>

      <a-box class="roomOnly gameExplain" opacity="0" position="-1 2 0.6" rotation="0 180 0" color="green" 
      redirect="on: click; triggeredEvent: paintingEvent;"
      ></a-box>
      <a-image class="roomOnly gameExplain" opacity="0" rotation="0 0 0" position="-1 2 0" src="/images/lookicon.jpg"></a-image>

      <!-- PAINTING SCENE -->
      <a-box class="paintingShow" opacity="0" position="-10 -1 -8" rotation="0 90 0" width="6" height="4" color="green" 
      redirect="on: click; triggeredEvent: foundHorse;"
      ></a-box>
      <a-sky id="paintingSky" opacity="0" src="/images/winterlandschap.jpg" rotation="0 90 0"></a-sky>
      <a-sky id="paintingSkyHorse" opacity="0" src="/images/winterlandschap-horse.jpg" rotation="0 90 0"></a-sky>
    </a-scene>
    <script>
  	document.addEventListener("chairEvent", function(event) {
      $('#mainText').attr('opacity', '0');
    });

    document.addEventListener("paintingChosenEvent", function(event) {
      $('.gameExplain').attr('opacity', '1');
      $('.chooseBlock').attr('opacity', '0');
    });

    document.addEventListener("paintingEvent", function(event) {
      $('#paintingSky').attr('opacity', '1');
      // $('.paintingShow').attr('opacity', '1');
      $('.roomOnly').attr('opacity', '0');
      $('#plant').remove();
    });

    document.addEventListener("foundHorse", function(event) {
      $('#paintingSky').attr('opacity', '0');
      $('#paintingSkyHorse').attr('opacity', '1');
    });
    </script>
  </body>
</html>
